body {
  background-color: #f9f9f9;
}

@font-face {
  font-family: Roboto;
  src: url(../fonts/Roboto-Regular.ttf);
}

header {
  border-bottom: 1px solid #e7e7e7;
  height: 60px;
  display: flex;
}

nav,
main {
  width: 95%;
  margin: 0 auto;
}

nav ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 20px;
  padding: 10px 35px;
  font-size: 18px;
  font-family: Roboto;
  font-weight: 600;
}

.third {
  margin-left: auto;
}
li img {
  width: 68px;
  height: 40px;
}

.logo-name {
  font-size: 32px;
  color: black;
  font-weight: 700;
}
section {
  display: flex;
  flex-direction: row;
  margin-top: 50px;
  column-gap: 60px;
}

.second-pic img {
  position: relative;
  height: 370px;
  z-index: 40;
  margin-right: 100px;
}

.vector img {
  position: absolute;
  top: 110px;
  right: 120px;
  height: 400px;
}

.middle h1 {
  font-size: 40px;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-weight: 700;
  line-height: 50px;
}

.middle p {
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.48px;
  color: #66645e;
}

.middle a {
  display: inline-flex;
  border-radius: 8px;
  background: #71a894;
  padding: 10px 30px;
  color: #fff;
  text-decoration: none;
  margin-top: 20px;
}

.middle-below {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

.middle-below > div {
  display: flex;
  justify-content: space-between;
  column-gap: 15px;
}

.middle-below h2 {
  font-size: 28px;
  font-family: Roboto;
  font-weight: 800;
  line-height: 64px;
}

.middle-below > p {
  text-align: center;
  font-size: 18px;
  font-family: Roboto;
  line-height: 26px;
  letter-spacing: -0.36px;
  margin-bottom: 30px;
  margin-left: 180px;
  margin-right: 180px;
}

.three-div div {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 190px;
  border: 1px solid #f3f0ea;
  border-radius: 8px;
  background: #fff;
  padding: 25px 5px 15px 5px;
}

.three-div div h3 {
  font-size: 1em;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.three-div div p {
  text-align: center;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 0.9em;
  line-height: 1.3em;
  padding: 25px 10px 0px 10px;
}

.three-div div img {
  margin-bottom: 20px;
  width: 64px;
}

.three-div div h3 {
  margin-bottom: 8px;
}

.fourth-part-icons img,
.head-icon img {
  width: 52px;
  height: 52px;
}

   .head-icon {
    flex: 2;
   }

   section .fourth-part-icons {
    border-radius: 16px;
    border: 4px solid #303031;
    flex: 1;
   }

.head-icon  h2 {
  font-size: 2.1em;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-weight: bold;
  margin-bottom: 15px;
  line-height: 1.2em;
}

.head-icon p {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 1.5em;
  line-height: 1.3em;
}

.fourth-part-icons h2 {
  font-size: 1.8em;
  font-weight: bolder;
  padding: 10px;
}
.fourth-part {
  display: flex;
}

.icon-card ul {
  display: flex;
  flex-direction: column;
}

li {
  display: flex;
  align-items: center;
}

.icon-card h3 {
  font-size: 1.2em;
}

.icon-card p{
  font-size: 1.0em;
}

.icon-card img {
  width: 60px;
  height: 60px;
  border-radius: 40px;
  padding: 10px;
}

.below {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  align-items: center;
  margin-bottom: 40px;
}

.below-div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  column-gap: 10px;
}

.below-div div {
  display: flex;
  flex-direction: column;
  height: 170px;
  border: 1px solid #f3f0ea;
  border-radius: 8px;
  background: #fff;
  padding: 35px 0px 0px 25px;
  right: 100px;
  left: 100px;
}

.below h2 {
  font-size: 28px;
  font-family: Roboto;
  font-weight: 800;
  line-height: 64px;
}

.below > p {
  font-size: 20px;
  font-family: Roboto;
  line-height: 26px;
  letter-spacing: -0.36px;
  margin-bottom: 30px;
  text-align: center;
  margin-left: 180px;
  margin-right: 180px;
}

.below-div div h3 {
  font-size: 0.9em;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.below-div div p {
  width: 70%;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 0.7em;
  line-height: 1.3em;
  margin-top: 15px;
}

.below-div-bt a {
  border-radius: 8px;
  background: #71a894;
  padding: 3px 3px;
  color: #fff;
  text-decoration: none;
  font-size: 8px;
}

.below-div-bt h4 {
  font-style: italic;
  font-size: 12px;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  color: #6d6b6b;
}

.below-div-bt {
  position: relative;
  bottom: 50px;
}

/* Divider */

.divider img {
  width: 100%;
  background-color: rgb(243, 248, 230);
  z-index: 10;
}

.divider:hover {
  border: 1px solid #b9b8f0;
}

/* Ashagi hisse */

.last-part h2 {
  font-size: 40px;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-weight: 700;
  line-height: 40px;
  /* width: 90%; */
  margin-bottom: 20px;
}

.last-part p {
  font-size: 21px;
  line-height: 32px;
  letter-spacing: -0.48px;
  color: #66645e;
  /* width: 90%; */
}

.last-part a {
  display: inline-flex;
  border-radius: 8px;
  background: #71a894;
  padding: 10px 30px;
  color: #fff;
  text-decoration: none;
  margin-top: 20px;
}

.last-pic img {
  position: relative;
  width: 533px;
  height: 270px;
  z-index: 40;
  margin-right: 100px;
}

/* Footer part */

.footer-part nav {
  margin-top: 50px;
}
