* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #f3f0ea;
}

@font-face {
  font-family: Roboto;
  src: url(../fonts/Roboto-Regular.ttf);
}

header {
  border-bottom: 1px solid #e7e7e7;
  height: 60px;
  display: flex;
}

nav ul {
  display: flex;
  width: 100vw;
  flex-direction: row;
  align-items: center;
  column-gap: 20px;
  padding: 10px 35px;
  font-size: 18px;
  font-family: Roboto;
  font-weight: 600;
}

.third {
  margin-left: auto;
}
li img {
  width: 68px;
  height: 40px;
}

.logo-name {
  font-size: 32px;
  color: black;
  font-weight: 700;
}
section {
  display: flex;
  flex-direction: row;
  margin-top: 50px;
  column-gap: 130px;
}

.second-pic img {
  position: relative;
  width: 533px;
  height: 370px;
  z-index: 40;
  margin-right: 100px;
}

.vector img {
  position: absolute;
  top: 110px;
  right: 120px;
  width: 449px;
  height: 400px;
}

.middle,
.last-part,
.footer-part {
  margin-left: 35px;
}

.middle h1 {
  font-size: 40px;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-weight: 700;
  line-height: 50px;
  width: 60%;
}

.middle p {
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.48px;
  color: #66645e;
}

.middle a {
  display: inline-flex;
  border-radius: 8px;
  background: #71a894;
  padding: 10px 30px;
  color: #fff;
  text-decoration: none;
  margin-top: 20px;
}

.middle-below {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  align-items: center;
}

.middle-below h2 {
  font-size: 28px;
  font-family: Roboto;
  font-weight: 800;
  line-height: 64px;
}

.middle-below p {
  font-size: 13px;
  font-family: Roboto;
  line-height: 26px;
  letter-spacing: -0.36px;
  width: 62%;
  margin-bottom: 30px;
}

.three-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 70vw;
  column-gap: 10px;
}

.three-div div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 320px;
  height: 200px;
  border: 1px solid #f3f0ea;
  border-radius: 8px;
  background: #fff;
  padding: 45px 0px 15px 0px;
}

.three-div div h3 {
  font-size: 0.9em;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.three-div div p {
  width: 92%;
  text-align: center;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 0.7em;
  line-height: 1.3em;
}

.three-div div img {
  margin-bottom: 20px;
  width: 64px;
}

.three-div div h3 {
  margin-bottom: 8px;
}



.fourth-part-icons img,
.fourth-div div img {
  width: 52px;
  height: 52px;
}

/* .fourth-part {
  display: flex;
  flex-direction: row;
  width: 70vw;
} */

/* .fourth-div {
  display: flex;
} */

/* .fourth-div img, h2, p {
  display: flex;
  flex-direction: row;
} */

/* .fourth-div {  
   /*#for-hover:hover  */
/* border: 1px solid skyblue; */
/* display: flex; */
/* flex-direction: row; */
/* width: 30vw; */
/* }  */

.fourth-div h2 {
  font-size: 1.1em;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 28px;
  width: 55%;
  margin-bottom: 15px;
  line-height: 1.2em;
}

.fourth-div p {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 0.8em;
  width: 65%;
  line-height: 1.5em;
}

/* 
.fourth-part-icons {
display: flex;
flex-direction: row;
} */

/* 
.head-icon {
  margin-left: 200px;
} */

/* .icon-card {
  display:flex;
  /* flex-direction: column; */
/* align-items: center; */
/* column-gap: 20px; */
/* justify-content: center; */
/* flex-flow: row wrap; 
} */

/* .icon-card div p {
  display: inline-flex;
  /* flex-direction: row;
} */

.head-icon h2,
.head-icon p {
  width: 25vw;
}

.fourth-part {
  display: flex;
  flex-direction: row;
  margin-left: 200px;
}

.icon-card {
  display: inline-flex;
  flex-direction: column;
}

.icon-card div h3 {
  display: inline-flex;
  
}

.below {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  align-items: center;
  margin-bottom: 40px;
}

.below-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 70vw;
  column-gap: 10px;
}

.below-div div {
  display: flex;
  flex-direction: column;
  width: 320px;
  height: 170px;
  border: 1px solid #f3f0ea;
  border-radius: 8px;
  background: #fff;
  padding: 35px 0px 0px 25px;
}

.below h2 {
  font-size: 28px;
  font-family: Roboto;
  font-weight: 800;
  line-height: 64px;
 
}

.below p {
  font-size: 13px;
  font-family: Roboto;
  line-height: 26px;
  letter-spacing: -0.36px;
  width: 62%;
  margin-bottom: 30px;
}

.below-div div h3 {
  font-size: 0.9em;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.below-div div p {
  width: 70%;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 0.7em;
  line-height: 1.3em;
  margin-top: 15px;
}

.below-div-bt a {
  border-radius: 8px;
  background: #71a894;
  padding: 3px 3px;
  color: #fff;
  text-decoration: none;
  font-size: 8px;
}

.below-div-bt h4 {
  font-style: italic;
  font-size: 12px;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  color: #6d6b6b;
}

.below-div-bt {
  position: relative;
  bottom: 50px;
}


/* Divider */

.divider img{
 
  width: 100%;
  background-color: rgb(243, 248, 230);
  z-index: 10;
 

}

.divider:hover{
  border: 1px solid #b9b8f0;
} 


/* Ashagi hisse */


  
.last-part h2 {
  font-size: 40px;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-weight: 700;
  line-height: 40px;
  width: 90%;
  margin-bottom: 20px;
}

.last-part p {
  font-size: 21px;
  line-height: 32px;
  letter-spacing: -0.48px;
  color: #66645e;
  width: 90%;
}

.last-part a {
  display: inline-flex;
  border-radius: 8px;
  background: #71a894;
  padding: 10px 30px;
  color: #fff;
  text-decoration: none;
  margin-top: 20px;
}

.last-pic img {
  position: relative;
  width: 533px;
  height: 270px;
  z-index: 40;
  margin-right: 100px;
}

/* Footer part */

.footer-part nav{
  margin-top: 50px;
}
